# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
config.yaml
.pypirc
docs/
.pypirc.example
.pytest_cache